<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloxClash Earn</title>
</head>
<body>
    
    <p>You are elegible to participate, you may add .gg/bloxclash to your Discord status to start earning.<p></p>

    <div>
        Note that rewards will only be accrued while you're online, away and on do not disturb, but not when you're offline/invisible.
        You can use the /earn command on BloxClash's Discord server to check your current gains.
        You are also able to redeem your earnings for on-site balance by using the /claim command.
    </div>

</body>
</html>