<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloxClash Earn</title>
</head>
<body>
    <p>You are not elegible to participate.</p>
    <div>We will lower our entry requirements over time; you can always try again later.</div>
</body>
</html>